---
title: Home
description: The latest app to help you find new friends with common interests.
image: https://kaoraswoo.github.io/images/home/wearecutemain.png?a=.png
bottom_image: https://unsplash.it/2000/1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable"></h1>
			<p class="subtext editable"></p>
			<!--div class="cta button alt"><a href="#">더 알아봐요</a></div-->
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">More <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<a href="/games/2021/01/02/introduce-attack-together/">
			<div class="container flex">
				<div class="text">
					<h2 class="editable">어택 투게더</h2>
					<p class="editable">경쟁적인 PVP게임에 아닌, 협동이 강조된 실시간 모바일 게임 <br> 멀티를 통해 단시간 즐길 수 있는 협력형 헌팅 게임</p>
				</div>
				<div class="image">
					<img class="editable" src="/images/home/attack.png" alt="Screenshot" />
				</div>
			</div>
		</a>
		<div class="container flex">
			<div class="image">
				<a href ="https://apps.apple.com/us/app/어택-투게더/id1546860274"><img class="editable" src="/images/home/appstorebadge.png"/></a>
				<a href ="https://play.google.com/store/apps/details?id=com.wearecute.attack"><img class="editable" src="/images/home/googleplaybadge.png"/></a>
			</div>
		</div>
	</section>
	<section class="info" id="learn-more">
		<a href="/games/2021/05/01/introduce-wedding-together/">
			<div class="container flex">
				<div class="text">
					<h2 class="editable">웨딩 투게더</h2>
					<p class="editable">신혼 살림을 마련하라! <br> 청첩장 용도로 사용되는 클리커 게임</p>
				</div>
				<div class="image">
					<img class="editable" src="/images/home/wedding.jpg" alt="Screenshot" />
				</div>
			</div>
		</a>
	</section>
	<!--
	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Pick your interests</h2>
				<p class="editable">The more you tell Frisco the better it gets to know you. Frisco matches you with people who share similar interests with you.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Swipe and go</h2>
				<p class="editable">Frisco shows you cards with people who might be a good match for friendship. Swipe left to move to the next card or right to start talking.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>
	
	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Find your buddy today</h2>
				<p class="subtext editable">It's free, fun and an exciting way to meet new people.</p>
				<div class="cta button alt"><a href="#">Join Now</a></div>
			</div>
		</div>
	</section>
	-->
</div>
